<!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/home/tabs/tab1/groupchat/groupchatadmin">
            <ion-icon class="back-button" slot="icon-only" name="md-arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title routerLink="groupdetails">
        Emma 
      </ion-title>
    </ion-toolbar>
  </ion-header> -->


<ion-content id="video-room-content" [scrollY]="false" [scrollX]="false">

  <div id="layout" class="bounds">
    <!-- Main video -->
    <div *ngIf="localUser && localUser.getStreamManager()" #mainStream  class="OT_root OT_publisher OT_main custom-class own-video" id="localUser">
      <stream-component #streamComponentLocal [user]="localUser"></stream-component>
    </div>

    <div class="single-user ion-text-center" *ngIf="(remoteUsers && !remoteUsers.length)" [ngStyle]="{'background-color': 'black' }">
      <img [src]="group_data.avatar ? 'http://198.12.92.202/public/uploads/' + group_data.avatar : 'assets/images/user.png'" onError="this.src='assets/images/user.png';" class="caller-img">
      <h3 class="user-name">{{ group_data.name }}</h3>
      <h4 class="call-duration" [innerHTML]="timing"></h4>
      <!-- <h4 class="call-duration time" *ngIf="timer">{{hoursDisplay ? hoursDisplay + ':' : ''}}{{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay + ':' : '00' + ':'}}{{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}</h4> -->
      <!-- <div class="controls">
          <ion-button fill="clear" disabled>
              <ion-icon slot="icon-only" name="md-volume-high" color="light"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
              <ion-icon slot="icon-only" name="md-mic-off" color="light"></ion-icon>
          </ion-button>
      </div> -->
      <div class="end-call">
          <ion-button fill="clear" (click)="exitSession()">
              <ion-icon slot="icon-only" name="md-call" color="light"></ion-icon>
          </ion-button>
      </div>
    </div>

    <!-- Remotes -->
    <div *ngFor="let user of this.remoteUsers" class="OT_root OT_publisher OT_remote custom-class incoming-video" id="remoteUsers" style="top:0 !important; height:100% !important;">
      <stream-component #streamComponentRemotes [user]="user" ></stream-component>
    </div>
    
  </div>

<!-- 
  <ion-fab *ngIf="localUser &&  localUser.getStreamManager()" vertical="top" horizontal="end" slot="fixed" id="rightButtons">
    <ion-fab-button [@slideLeftRight]="buttonsVisibility" size="small" [color]="cameraBtnColor" id="camButton" (click)="toggleCamera()">
      <ion-icon name="reverse-camera"></ion-icon>
    </ion-fab-button>

    <ion-fab-button [@slideLeftRight]="buttonsVisibility" size="small" [color]="camBtnColor" (click)="camStatusChanged()">
      <ion-icon name="{{camBtnIcon}}"></ion-icon>
    </ion-fab-button>

    <ion-fab-button [@slideLeftRight]="buttonsVisibility" size="small" [color]="micBtnColor" (click)="micStatusChanged()">
      <ion-icon name="{{micBtnIcon}}"></ion-icon>
    </ion-fab-button>

    <ion-fab-button [@slideLeftRight]="buttonsVisibility" size="small" color="light" (click)="resetVideoSize()">
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- <ion-fab  *ngIf="!setUpModalIsPresented" vertical="bottom" horizontal="center" id="exitButton" [@slideTopBottom]="buttonsVisibility">
    <ion-fab-button color="danger" (click)="exitSession()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  
  <div id="menu-open" (click)="toggleMenu()" *ngIf="call_started">
      <ion-button fill="clear" 
      >
      <!-- (click)="showAttachment($event)" -->
          <ion-icon slot="icon-only" name="md-menu" color="primary"></ion-icon>
      </ion-button>
  </div>

  <div id="menu-opened" class="hide">
      <div class="close-section">
        <div id="menu-close" (click)="toggleMenu()">
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="md-close" color="primary"></ion-icon>
            </ion-button>
        </div>
      </div>
      <div class="menu">
        <div class="first-row">
          <div class="icon-container">
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="md-volume-high" color="primary"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="resetVideoSize()">
                <ion-icon slot="icon-only" name="md-apps" color="primary"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="micStatusChanged()">
                <ion-icon slot="icon-only" name="{{micBtnIcon}}" color="primary"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="row-text">
          <div class="text-container">
              <span>{{'Speaker'|translate}}</span>
              <span>{{'View'|translate}}</span>
              <span>{{'Mute'|translate}}</span>
          </div>
        </div>
        <div class="second-row">
            <div class="icon-container">
                <ion-button fill="clear" (click)="toggleCamera()">
                    <ion-icon slot="icon-only" name="md-reverse-camera" color="primary" id="camButton"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="camStatusChanged()">
                    <ion-icon slot="icon-only" name="{{camBtnIcon}}" color="primary"></ion-icon>
                </ion-button>
            </div>
        </div>
        <div class="row-text">
            <div class="text-container">
                <span>{{'Flip'|translate}}</span>
                <span>{{'Video'|translate}}</span>
            </div>
          </div>
        <div class="third-row">
            <div class="icon-container">
                <ion-button fill="clear" (click)="exitSession()">
                    <ion-icon slot="icon-only" name="md-call" color="light"></ion-icon>
                </ion-button>
            </div>
        </div>
      </div>
    </div>


</ion-content>